@use 'abstracts/variables';
@use 'abstracts/media-queries';

//set fonts for titles and sections
@mixin set-font($ffamily, $fweight, $fsize, $fcolor){
    font-family: $ffamily;
    font-weight: $fweight;
    font-size: $fsize;
    color: $fcolor;
}

