//font: https://fonts.google.com/specimen/Source+Sans+Pro

//font-family
$ff: 'Urbanist', sans-serif;
$f-logo: "Berkshire Swash", cursive;

//font-weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-extraBold: 800;


//font-size
$fs-lg: 3.8rem;    
$fs-xmed: 2.375rem;  
$fs-med: 2rem;  
$fs-sm: 1.535rem;  
$fs-xsm: 1.25rem;  
$fs-xxsm: 0.75rem; 
$fs-xxxsm: 0.688rem; 

$fs-card-category: 1rem;
$fs-card-name: 1.1rem;
$fs-card-text: 0.9rem;
$fs-like: 1rem; 

//colors
$clr-red: #d04e61;
$clr-white: hsl(0, 0%, 100%);
$clr-light-gray: #949494;
$clr-light-black: #58585a;
$clr-black:hsl(0, 100%, 1%);
$clr-brown: hsl(32, 21%, 30%);




