@use './abstracts/variables';
@use './base/typography';


.btn-form {
    background-color: variables.$clr-red;
    @include typography.set-font(variables.$ff, variables.$fw-regular, variables.$fs-xsm, variables.$clr-white);
    border: none;
    border-radius: 5px;
}

.title-form {
    @include typography.set-font(variables.$ff, variables.$fw-bold, variables.$fs-xmed, variables.$clr-light-black);
}

.bg  {
    background-image: url(../../../dist/images/pexels-desativado-2491273.jpg);
    background-size: cover;
}

.login-block {
    margin-top: 4.5rem;
    box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.1);
}

.reset-pass-block {
    margin-top: 8.5rem;
    box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.1);
}

.register-block {
    margin-top: 2rem;
    box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.1);
}

.bg-body-form{
    background: linear-gradient(to right, #fbfefb, #ffffff);
}