@use './abstracts/variables';
@use './base/typography';
@use './abstracts/media-queries';


.hero-title{

    @include typography.set-font(variables.$ff, variables.$fw-semiBold, variables.$fs-lg, variables.$clr-light-black);
    @include media-queries.respond-to(media-queries.$phone){
        font-size: 2.8rem; 
    }
}  

.hero-text{

    @include typography.set-font(variables.$ff, variables.$fw-regular, variables.$fs-sm, variables.$clr-light-gray);
    justify-content: start;
    @include media-queries.respond-to(media-queries.$phone){
        font-size: 1.3rem; 
    }

}  

.hero-img{
    padding-top: 1rem;
    width: 93%;
}

.title-best-recipes{
    @include typography.set-font(variables.$ff, variables.$fw-medium, variables.$fs-xmed, variables.$clr-light-black);
    @include media-queries.respond-to(media-queries.$phone){
        font-size: 2.2rem; 
    }
}

.text-best-recipes{
    @include typography.set-font(variables.$ff, variables.$fw-light, variables.$fs-xsm, variables.$clr-light-gray);
}

.title-discover-recipes{
    @include typography.set-font(variables.$ff, variables.$fw-medium, variables.$fs-xmed, variables.$clr-light-black);
}