@use './abstracts/variables';
@use './base/typography';

.recipe-title{
    @include typography.set-font(variables.$ff, variables.$fw-bold, variables.$fs-xmed, variables.$clr-light-black);
}

.recipe-subtitle{
    @include typography.set-font(variables.$ff, variables.$fw-semiBold, variables.$fs-med, variables.$clr-light-black);
}

.img-recipe{
    border-radius: 15px;
}

.icon-text{
    @include typography.set-font(variables.$ff, variables.$fw-medium, variables.$fs-xsm, variables.$clr-light-black);
}
