@use './abstracts/variables';
@use './base/typography';
@use './abstracts/media-queries';

.a-title {
    text-decoration: none; 
    color: inherit; 
}

.a-title:hover {
  
    color: variables.$clr-red;
}

.card-recipe {
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.img-carousel {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-carousel-category {
    @include typography.set-font(variables.$ff, variables.$fw-semiBold, variables.$fs-xsm, variables.$clr-red);
    @include media-queries.respond-to(media-queries.$tablet-landscape){
        font-size: 1rem; 
    }
}

.card-carousel-name {
    text-decoration: none;
    @include typography.set-font(variables.$ff, variables.$fw-extraBold, variables.$fs-sm, variables.$clr-light-black);
    @include media-queries.respond-to(media-queries.$tablet-landscape){
        font-size: 1.5rem; 
    }
}

.card-carousel-text {
    @include typography.set-font(variables.$ff, variables.$fw-medium, variables.$fs-xsm, variables.$clr-light-gray);
    @include media-queries.respond-to(media-queries.$tablet-landscape){
        font-size: 1rem; 
    }
}


.card-carousel-btn:hover {
    background-color: variables.$clr-brown;
    color: variables.$clr-white;
}

.card-like-carousel{
    color: variables.$clr-red;
}

 
.card-like-carousel:hover {
    color: variables.$clr-brown;
}

.arrow-btn{
    background-color: variables.$clr-red;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    @include typography.set-font(variables.$ff, variables.$fw-semiBold, variables.$fs-xxsm, variables.$clr-white);
    border: none;  
    color: variables.$clr-white;
   
}

.arrow-btn:hover{
    background-color: variables.$clr-brown;
    color: variables.$clr-white;
}

.card-category{
    @include typography.set-font(variables.$ff, variables.$fw-semiBold, variables.$fs-card-category, variables.$clr-red);
}

.card-name{
    @include typography.set-font(variables.$ff, variables.$fw-extraBold, variables.$fs-card-name, variables.$clr-light-black);
    @include media-queries.respond-to(media-queries.$tablet-landscape){
        font-size: 1rem; 
    }
}

.card-text{
    @include typography.set-font(variables.$ff, variables.$fw-medium, variables.$fs-card-text, variables.$clr-light-gray);
    @include media-queries.respond-to(media-queries.$tablet-landscape){
        font-size: 0.7rem; 
    }
}

.card-btn {
    background-color: variables.$clr-red;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    @include typography.set-font(variables.$ff, variables.$fw-semiBold, variables.$fs-xxxsm, variables.$clr-white);
    border: none;
}

.card-btn:hover {
    background-color: variables.$clr-brown;
    color: variables.$clr-white;
}

.like-recipe-carousel{
    @include typography.set-font(variables.$ff, variables.$fw-medium, variables.$fs-xsm, variables.$clr-white);
}

.like-recipe-carousel:hover{
    color: variables.$clr-red;
}

.like-recipe{
    @include typography.set-font(variables.$ff, variables.$fw-medium, variables.$fs-like, variables.$clr-white);
    @include media-queries.respond-to(media-queries.$tablet-landscape){
        font-size: 0.7rem; 
    }
}

.like-recipe:hover{
    color: variables.$clr-red;
}