@use './abstracts/variables';
@use './base/typography';


.title-my-recipes{
    @include typography.set-font(variables.$ff, variables.$fw-medium, variables.$fs-xmed, variables.$clr-light-black);
}

.name-card-profile{
    @include typography.set-font(variables.$ff, variables.$fw-medium, variables.$fs-sm, variables.$clr-light-black); 
}

.profile-btn {
    background-color: variables.$clr-red;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    @include typography.set-font(variables.$ff, variables.$fw-semiBold, variables.$fs-xxsm, variables.$clr-white);
    border: none;
}

.profile-btn:hover {
    background-color: variables.$clr-brown;
}