@use './abstracts/variables';
@use './base/typography';


.filter{
    background-color: variables.$clr-white;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
    @include typography.set-font(variables.$ff, variables.$fw-semiBold, variables.$fs-xsm, variables.$clr-red);
    border-radius: 3rem;
    padding: 10px 25px;
    color: variables.$clr-red;
    text-decoration: none;
    cursor: pointer;
}

.filter:hover{
    color: variables.$clr-brown;
}

.list-group-item {
    border: none;
  }
  

.search{
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    padding: 5px 15px;
    border: none;
    width: 14rem;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
    @include typography.set-font(variables.$ff, variables.$fw-medium, variables.$fs-xsm, variables.$clr-light-gray);
}

.btn-search{
    color: variables.$clr-white;
    background-color: variables.$clr-red;
    margin-left: -1rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    padding-top: 1rem;
    padding-bottom: 0.62rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
     
}