@use './abstracts/variables';
@use './base/typography';


.logo{
    @include typography.set-font(variables.$f-logo, variables.$fw-bold, variables.$fs-xmed, variables.$clr-red);
    text-decoration: none;
  }
  
  .nav-btn{
    background-color: variables.$clr-red;
    text-decoration: none;
    padding: 10px 45px 10px 45px;
    border-radius: 5px;
    @include typography.set-font(variables.$ff, variables.$fw-semiBold, variables.$fs-xsm, variables.$clr-white);

  }
  
  .link-nav{
    text-decoration: none;
    @include typography.set-font(variables.$ff, variables.$fw-semiBold, variables.$fs-xsm, variables.$clr-light-gray);
  }
  
  .link-nav:hover{
    color: variables.$clr-red;
  }
  
  .navbar-toggler .fas {
    color: variables.$clr-red;
    font-size: 35px;
  } 

.logo:hover{
  color: variables.$clr-brown;
}

.nav-btn:hover{
  background-color: variables.$clr-brown;
  color: variables.$clr-white;
}